<!--<h2>{{myStr | myRev}}</h2>-->

<!--
<h3>Addition of 8 + 3 = {{8 | add:3}} </h3>
-->
<!--<h3>Multiplication of 7 * 3 = {{7 | mult:3}} </h3>-->
<!--
<h3>{{myNumber | marvellousCheck: "even"}}</h3>
<h3>{{myNumber | marvellousCheck: "odd"}}</h3>
<h3>{{myNumber | marvellousCheck: "prime"}}</h3>
<h3>{{myNumber | marvellousCheck: "perfect"}}</h3>
-->

<!--<h2 appCompSuccess>Comp Success</h2>
<h2 appCompFail>Comp Fail</h2>-->

<h2 appCustomStyle> Custom Style line</h2>
<router-outlet></router-outlet>
